body{
    background-color: #f4f4f4;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
#main-header{
    background-color: coral;
    color:#fff;
}
.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
    /* border:2px solid red; */
}

#navbar{
    background-color:#333;
    color:#fff;
}
#navbar ul{
    list-style: none;
    padding:0
}
#navbar li{
    display: inline;
}

#navbar a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    padding-right:15px;
}

#showcase{
    background-image:url('background.jpg');
    background-position: center right;
    min-height:300px;
    margin-bottom:30px;
    text-align: center;
}
#showcase h1{
    color :#fff;
    font-size:30px;
    line-height: 1.6em;
    padding-top: 30px;
}
#main{
    width:70%;
    float:left;
    padding:0 45px;
    box-sizing: border-box;
}
#sidebar{
    float:right;
    width:30%;
    background-color: #333;
    color:#fff;
    padding: 10px;
    box-sizing: border-box;
}
#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding:20px;
}

@media (max-width:600px){
    /* body{
        background-color: red;
    } */

    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}